{% extends "layout.njk" %}
{% block body %}
    <div class="form-auth-login">
        <h1>Login</h1>
        {% if error.length > 0 %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for message in error %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form method="POST" action="/auth/reset_password">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block mt-2">Reset</button>
        </form>
    </div>
{% endblock %}