{% extends "layout.njk" %}
{% block body %}
    <div class="form-authorization-dialog">
        <h1 class="h2">Authorization Request</h1>
        <p>Do you allow <strong>{{ client.name }}</strong> to have <strong>full access</strong> to your account?</p>
        <form action="/oauth2/authorize" method="post">
            <input name="transaction_id" type="hidden" value="{{ transactionID }}">
            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-success btn-lg" value="Allow" id="allow">
                <input type="submit" class="btn btn-danger btn-lg" value="Deny" name="cancel" id="deny">
            </div>
        </form>
    </div>
{% endblock %}

