<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{>nav}}
  <div class="container-fluid">
    {{{body}}}
  </div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>